.highlightableButton {
    border-radius: 30px;
    background-color: transparent;
    width: 150px;
    height: 100%;
    transform: scale(0.98);
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}


.highlightableButtonText {
    font-size: 12pt;
    font-weight: 200;
    font-family: monospace;
}

.highlightableButton:hover {
    transform: scale(1.02);
    color: var(--navbar-color);
    background-color: white;
}
