.highlightableButton {
    border-radius: 30px;
    background-color: transparent;
    width: 150px;
    height: 100%;
    transform: scale(0.98);
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundButton {
    color: var(--navbar-color);
    background-color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    transform: scale(0.98);
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlightableButtonText {
    font-size: 12pt;
    font-weight: 200;
    font-family: monospace;
}


.highlightableButton:hover {
    transform: scale(1.02);
    color: var(--navbar-color);
    background-color: white;
}

.addButton:hover {
    transform: scale(1.05);
    background-color: green;
    color: white
}

.deleteButton:hover {
    transform: scale(1.05);
    background-color: red;
    color: white
}

.editButton:hover {
    transform: scale(1.05);
    background-color: blue;
    color: white
}
