.profileMain {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    color: white;
    background-color: var(--navbar-color);
}

.profileInformationSection {
    box-sizing: border-box;
    position: relative;
    padding-left: 1vh;
    width: 100%
}

.infoLabel {
    color: slategray
}

.profilePicFull {
    border-radius: 20%;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    outline: 1px solid white;
    transition: all 0.1s ease;
    overflow: hidden;
    box-sizing: content-box;
    margin-left: 2vh;
    margin-right: 2vh;
}

.tempUserInfo {
    box-sizing: border-box;
    padding: 0% 3%;
    font-family: monospace;
    font-weight: 300;
}

.profileSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: max-content;
    width: 100%;
    top: 70px;
    box-sizing: border-box;
    padding: 2%;
}
