.splashMain {
    min-height: 100%;
    width: 100%;
    background-color: var(--navbar-color);
    z-index: 1;
}

.splashContent {
    display: flex;
    width: 100%;
    height: auto;
    top: 60px;
    bottom: 0px;
    position: absolute;
    background-color: var(--navbar-color);
    font-family: monospace;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    box-sizing: border-box;
    padding: 3%;
    z-index: 2;
}

.splashBody {
    font-weight: 300;
    font-size: 14pt;
}
