.snippetsPageTitle {
    position: relative;
    width: max-content;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 300;
    margin-left: 1px;
    margin-bottom: 0px;
}

.snippetOwner {
    text-decoration: none;
    cursor: pointer;
}
.snippetOwner:hover {
    text-decoration: underline;
}

.snippetsMessageText {
    position: relative;
    width: max-content;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 300;
    font-size: 10pt;
    margin-left: 1px;
    color: white;
}

.snippetsPageSubtitle {
    position: relative;
    width: max-content;
    text-align: right;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 9pt;
    font-weight: 200;
    margin-left: 1px;
    color: slategray;
    transition: all 0.2s ease;
}

.snippetsPageSubtitle:hover {
    color: white;
    font-size: 9.5pt;
}

.snippetsMain {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    color: white;
    background-color: var(--navbar-color);
}

.snippetsHeader {
    display: flex;
    position: relative;
    top: 70px;
    flex-direction: row;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    height: min-content;
    padding-bottom: 1%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.snippetView {
    display: block;
    width: 100%;
    height: max-content;
    max-height: 80%;
    overflow: scroll;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 60px;
    bottom: 0px;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    font-family: monospace;
}

.editorHolder {
    display: flex;
    height: max-content;
    position: relative;
}

.copyView {
    background-color: rgb(0,0,0,0.8);
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease;
}

.copyView:hover {
    opacity: 1;
}

.copyButton {
    transform: scale(0.1);
    margin: 0px;
    width: 20px;
}

.copyView > div > h2 {
    font-weight: 200;
    font-size: 14pt;
}


.snippetDeleted {
    max-height: 0px !important;
}

.copyView > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0px;
    background-color: black;
    box-sizing: border-box;
    outline: 1px white dashed;
    width: 30%;
    height: 74%;
}

.snippetsTitleTray {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-height: 30px;
    margin-top: 0px;
}

.snippetsTitleTray > * {
    margin-top: 0px
}


.mainSnippetContent {
    min-height: max-content;
    width: 100%;
    margin: 40px 50px;
}

.individualSnippetView {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0px;
    max-height: 500px;
    height: auto;
    overflow: hidden;
    transition: all 0.2s ease;
}

.container__editor {
    font-size: 12pt;
    font-variant-ligatures: common-ligatures;
    font-family: monospace;
    border-radius: 3px;
    background-color: black;
    position: relative;
    width: 100%;
    min-height: max-content;
    max-height: 600px;
    text-align: center;
    overflow: scroll;
}

.container__editor textarea {
    outline: 0;
}

.loadingMore {
    font-size: 12pt;
    color: slategray;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%
}
