:root {
    --body-color: #1b1f22;
    --navbar-color: #15171a;
}

html, body, #root {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px
}

.nudgedLeft {
    margin-left: 2vh;
}
.nudgedRight {
    margin-right: 2vh;
}
